@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Courgette&family=Indie+Flower&family=Shadows+Into+Light&display=swap');

.shadowsIntoLight {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
